{{ jobs.length}}
<h2><strong>Record of All Jobs</strong></h2>
<div class="componentInfoWrapper">
	<table class="table">
		<tr>
			<th>Job ID</th>
			<th>Company ID</th>
			<th>Quantity Sent</th>
			<th>Date Sent</th>
			<th>Date Returned</th>
			<th>Quantity Returned</th>
			<th>BoardCode</th>
			<th></th>
		</tr>

		<tr *ngFor = "let j of jobs">
			<td>{{j.jobid}}</td>
			<td>{{j.companyid}}</td>
			<td>{{j.quantitysent}}</td>
			<td>{{j.datesent.substring(0,10)}}</td>
			<td>{{j.datereturned.substring(0,10)}}</td>
			<td>{{j.quantityreturned}}</td>
			<td>{{j.boardcode}}</td>
		</tr>
	</table>
</div>