{{manufacturers.length}}
<h2><strong>Components</strong></h2>
<div class="componentInfoWrapper">
	<table class="table">
		<tr>
			<th>Component ID</th>
			<th>Name</th>
			<th>MSL</th>
			<th>Unit Cost</th>
			<th>Manufacturer ID</th>
			<th>Amount</th>
			<th></th>
		</tr>

		<tr *ngFor = "let component of components">
			<td>{{component.componentid}}</td>
			<td>{{component.componentname}}</td>
			<td>{{component.msl}}</td>
			<td>{{component.unitcost}}</td>
			<td>{{component.manufacturerid}}</td>
			<td>{{component.amount}}</td>
			<td><button (click)="deleteComponent(component.componentid)">Delete</button></td>
		</tr>
	</table>
</div>

<h2><strong>Component Inventory</strong></h2>
<div class="componentInfoWrapper">
	<table class="table">
		<tr>
			<th>Component Code</th>
			<th>Component ID</th>
			<th>Amount</th>
			<th></th>
		</tr>

		<tr *ngFor = "let stock of componentInventory">
			<td>{{stock.componentcode}}</td>
			<td>{{stock.componentid}}</td>
			<td>{{stock.amount}}</td>
			<td><button (click)="deleteComponentInventory(stock.componentcode, stock.componentid)">Delete</button></td>
		</tr>
	</table>
</div>
<h2><strong>Register A New Component</strong></h2>
<form>
	Component Name: <input type="text" /> <br />
	MSL: <input type="number" /><br />
	Unit Cost: <input type="number" /><br />
	Manufacturer: <select>
		<option *ngFor="let m of manufacturers" [value]="m.manufacturerid">{{m.name}}</option>
	</select><br />
	Amount: <input type="number" /><br />
</form><br />

<h2><strong> Add Component Stock </strong></h2>
<form>
	Component Code: <input type="text"/><br />
	Component Type: <select>
		<option *ngFor="let c of components" [value]="c.componentid">{{c.componentname}}</option><br />
	</select>
	Amount: <input type="number"/>
</form>