<div color="primary" class="toolbar">
    <a routerLink="/"><span class="logo">I<span class="small">nvent</span>S<span class="small">tory</span></span></a>

    <a routerLink="/components" class="navLink">Components</a>
    <a routerLink="/boards" class="navLink">Boards</a>
    <a routerLink="/manufacturers"class="navLink">Manufacturers</a>
    <a routerLink="/assemblers" class="navLink">Assemblers</a>
    <a routerLink="/boms" class="navLink">BOM</a>
    <a routerLink="/jobs" class="navLink">Build Jobs</a>

    <a href="http://github.com/SunnyPatel1/">
    	<img class="icon" src="../../../assets/gitlogo.png">
    </a>


</div>